## 5.2 Exercise

### Data Normalization

In [1]:
#imports libraries
import numpy as np
import pandas as pd

In [2]:
# fuction to normalize array
def normalize(array, t_min, t_max):
    norm_array = []
    diff = t_max - t_min
    diff_arr = max (array) - min(array)
    
    for i in array:
        temp = (((i-min(array))*diff)/diff_arr) + t_min
        norm_array.append(temp)
    return norm_array

array_1d = np.arange (1,4)
range_to_normalize = (0,1)
normalized_array_1d = normalize(array_1d,
                               range_to_normalize[0],
                               range_to_normalize[1])

print("Original Array", array_1d)
print("Normalized Array", normalized_array_1d)

Original Array [1 2 3]
Normalized Array [0.0, 0.5, 1.0]

### Data Standardization

In [3]:
#function to standardize
def standardize(array):
    mean = np.mean(array)
    std = np.std(array)
    standardized_array = (array - mean) / std
    return standardized_array

array = [1,2,3,4,5]
standardized_array = standardize(array)
print(standardized_array)

[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

## Working with a Dataframe

In [4]:
#read the dataset into a dataframe
df = pd.read_csv('housing.csv')

print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

(a) How many rows does this data set have?

In [5]:
#get number of rows in the data frame
num_rows = len(df)
print("The dataset has", num_rows, "rows.")

The dataset has 20640 rows.

(b) What is the target vector for your model?

In [37]:
#identify the column of the target vector
target = df.median_house_value

print ("The target vecotr is the median_house_value column.")
print ("\n", target)

The target vecotr is the median_house_value column.

 0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

(c) Create a new feature by taking the total bedrooms divided by the number of households. What
does this new feature represent?

In [38]:
#new feature total bedrooms / number of households
df['avg_bedroom'] = df.total_bedrooms / df.households

print("This new feature displays the average bedroom per household.")

This new feature displays the average bedroom per household.

(d) Now, create a new data frame that has three features: the median age, median income, and the
new feature created in part (c).

In [40]:
#creates a new data frame with housing median age, median income and avg bedrooms
new_data = df[['housing_median_age','median_income','avg_bedroom']]

print(new_data)

       housing_median_age  median_income  avg_bedroom
0                    41.0         8.3252     1.023810
1                    21.0         8.3014     0.971880
2                    52.0         7.2574     1.073446
3                    52.0         5.6431     1.073059
4                    52.0         3.8462     1.081081
...                   ...            ...          ...
20635                25.0         1.5603     1.133333
20636                18.0         2.5568     1.315789
20637                17.0         1.7000     1.120092
20638                18.0         1.8672     1.171920
20639                16.0         2.3886     1.162264

[20640 rows x 3 columns]

(e) Take the data frame created in part (d) and apply data standardization to the features.

In [42]:
# Standardizes the data in the new data frame
new_data = (new_data - new_data.mean()) / new_data.std()

print(new_data)

       housing_median_age  median_income  avg_bedroom
0                0.982119       2.344709    -0.153859
1               -0.607004       2.332181    -0.262930
2                1.856137       1.782656    -0.049603
3                1.856137       0.932945    -0.050416
4                1.856137      -0.012881    -0.033567
...                   ...            ...          ...
20635           -0.289180      -1.216099     0.076183
20636           -0.845373      -0.691576     0.459410
20637           -0.924829      -1.142566     0.048372
20638           -0.845373      -1.054557     0.157229
20639           -1.004285      -0.780111     0.136949

[20640 rows x 3 columns]